<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/GameConsole/views/img/logo.png">

    <title>GAME休閒館</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="/GameConsole/views/css/starter-template.css" rel="stylesheet">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{if !(isset($memSee))}}
    <meta http-equiv="refresh" content="0;url=/GameConsole/employee/getUpdateSelfView">
    {{/if}}
</head>
<style>
    .topImgBtn {
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: black;
        max-height: 30px;
        max-width: 30px;
        width: 20px;
    }

    .width100 {
        width: 100%;
    }

    .hidden {
        visibility: hidden;
    }

    .showOrder {
        padding: 0;
    }
</style>
<script src="/GameConsole/views/js/jsonFormat.js"></script>
<script src="/GameConsole/views/js/title.js"></script>
<script src="/GameConsole/views/js/viewModels/orderViewModel.js"></script>
<script src="/GameConsole/views/js/viewModels/memberViewModel.js"></script>
<script>
    let memUse = '{{if isset($memUse)&&$memUse}}{{$memUse}}{{/if}}';
    memUse = (memUse.length <= 0) ? false : true;
    let getItemProcessing = false;
    let lastID = '{{if isset($lastID)}}{{$lastID}}{{/if}}';
    let showLastID = '{{if isset($showLastID)}}{{$showLastID}}{{/if}}';
    lastID = parseInt(lastID);
    showLastID = parseInt(showLastID);

    $(window).ready(() => {
        //回最頂按鈕
        $('.topImgBtn').click(() => {
            $('html,body').animate({
                scrollTop: 0
            }, 1000);
        });

        //滾動監聽器
        $(window).scroll(function (e) {
            let windowBottom = $(this).height() + $(this).scrollTop();
            console.log('window bottom' + windowBottom);
            console.log('body ' + $('body').height());

            if (isNaN(lastID) || isNaN(showLastID) || showLastID >= lastID) {
                $(this).off('scroll');
                return;
            }

            if ((windowBottom >= ($('body').height() * 0.7)) && !getItemProcessing) {
                getItemProcessing = true;
                $.ajax({
                    type: 'GET',
                    url: `/GameConsole/member/getSome?lastID=${showLastID}`
                }).then(function (e) {
                    e = organizeFormat(e);
                    let json = JSON.parse(e);
                    console.log(json);
                    if (json.success === false) {
                        switch (json.errMessage) {
                            case '無此權限':
                            case '確認身份發生錯誤':
                                alert(json.errMessage + '將會重新整理頁面');
                                history.go(0);
                                break;
                            default:
                                alert(json.errMessage);
                                break;
                        }
                        return;
                    }
                    lastID = json.result.lastID;
                    for (let item of json.result.data) {
                        $('#dataShow').append(getMemberListView(
                            memUse,
                            item.id,
                            item.account,
                            item.name,
                            item.email,
                            item.phone,
                            item.status,
                            item.creationDatetime,
                            (item.changeDatetime === null) ? '' : item.changeDatetime
                        ));
                    }


                    getItemProcessing = false;
                });
            }
        }).trigger('scroll');

        //訂單紀錄
        $('.orderListBtn').click(function () {
            let buttonThis = $(this);
            buttonThis.closest('.oneMember').next().toggleClass('hidden');

            //如有開啟時關閉
            if (buttonThis.closest('.oneMember').next('.memberOrders').find('.showOrder').html().length > 0) {
                buttonThis.text('開啟訂單記錄').closest('.oneMember').next('.memberOrders').find('.showOrder').empty();
                return;
            }

            let data = {
                'id': buttonThis.closest('.oneMember').find('.memberID').text(),
                'lastShowOrderID': null
            };

            $.ajax({
                type: "GET",
                url: "/GameConsole/order/getMemberOrder",
                data: { 0: JSON.stringify(data) }
            }).then(function (e) {
                e = organizeFormat(e);
                let json = JSON.parse(e);
                console.log(json);

                if (json.success === false) {
                    buttonThis.closest('.oneMember').next().toggleClass('hidden');
                    switch (json.errMessage) {
                        case '無此權限':
                        case '確認身份發生錯誤':
                            alert(json.errMessage + '將會重新整理頁面');
                            history.go(0);
                            return;
                        default:
                            alert(json.errMessage);
                    }
                    return;
                }
                if (json.result === false) {
                    buttonThis.closest('.oneMember').next().toggleClass('hidden');
                    alert('你是怎麼做到的？');
                    return;
                }

                for (let item of json.result) {
                    buttonThis.text('關閉訂單記錄').closest('.oneMember').next('.memberOrders').find('.showOrder')
                        .append(getOrderListView(item.orderID, item.creationDatetime, item.total));
                }

                showDetailsBtnListener();



            });
        });

        if (memUse) {
            getChangeStatusBtnListener();
        }

    });


    function showDetailsBtnListener() {
        $('.showDetailsBtn').off('click').click(function () {
            let orderID = $(this).closest('div[class="oneOrder"]').find('.orderID').html();
            let showDetails = $(`#showDetails${orderID}`);
            let button = $(this);

            if (showDetails.html().length > 0) {
                showDetails.empty();
                button.text('查看明細');
                return;
            }

            let data = {
                'orderID': orderID,
                'commodityID': null
            }

            $.ajax({
                type: 'GET',
                url: '/GameConsole/order/getOrderDetail',
                data: { 0: JSON.stringify(data) }
            }).then(function (e) {
                e = organizeFormat(e);
                let json = JSON.parse(e);
                console.log(json);

                if (json.success === false) {
                    switch (json.errMessage) {
                        case '無此權限':
                        case '確認身份發生錯誤':
                            alert(json.errMessage + '將會重新整理頁面');
                            history.go(0);
                            return;
                    }
                    return;
                }

                button.text('關閉明細');
                for (let item of json.result) {
                    // console.log(item['commodityID']);
                    showDetails.append(getDetailsListView(
                        item['name'],
                        item['price'],
                        item['quantity']
                    ));
                }
            });
        });

    }

</script>
{{if isset($memUse)&&$memUse}}
<script>
    function getChangeStatusBtnListener() {
        //狀態更改
        $('.status').click(function () {
            let button = $(this);
            let buttonClass = this.className.substring(this.className.lastIndexOf('btn'), this.className.length);
            let status = (buttonClass === 'btn-success') ? true : false;

            if (!confirm(`確定要${status ? '停用' : '啟用'}該會員？`)) {
                return;
            }

            let data = {
                'id': $(this).closest('.oneMember').find('.memberID').text(),
                'status': !status
            };

            $.ajax({
                type: "PUT",
                url: "/GameConsole/member/updateStatus",
                data: { 0: JSON.stringify(data) }
            }).then(function (e) {
                e = organizeFormat(e);
                let json = JSON.parse(e);
                console.log(json);

                if (json.success === false) {
                    switch (json.errMessage) {
                        case '無此權限':
                        case '確認身份發生錯誤':
                            alert(json.errMessage + '將會重新整理頁面');
                            history.go(0);
                            return;
                        default:
                            alert(json.errMessage);
                    }
                    return;
                }
                if (json.result === true) {
                    if (status) {
                        button.removeClass('btn-success').addClass('btn-danger').text('停用');
                    } else {
                        button.removeClass('btn-danger').addClass('btn-success').text('啟用');
                    }

                }
            });

        });
    }
</script>
{{/if}}

<body>
    {{include file='./navigationBar.html'}}
    <div class="blank"></div>

    <main class="container">
        <img class="topImgBtn" src="/GameConsole/views/img/top.png" alt="">

        <table class="table table-hover table-bordered" id="mainShow">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>帳號</th>
                    <th>姓名</th>
                    <th>email</th>
                    <th>電話</th>
                    <th>目前狀態</th>
                    <th>創立時間</th>
                    <th>修改資料時間</th>
                    {{if isset($memUse) && $memUse}}
                    <th></th>
                    {{/if}}
                </tr>
            </thead>


            <tbody id="dataShow">
                {{foreach $members as $member}}
                <tr class="oneMember">
                    <td class="memberID">{{$member['id']}}</td>
                    <td>{{$member['account']}}</td>
                    <td>{{$member['name']}}</td>
                    <td>{{$member['email']}}</td>
                    <td>{{$member['phone']}}</td>
                    <td>
                        {{if $member['status']==='1'}}
                        <button type="button" class="status width100 btn btn-success">啟用</button>
                        {{else}}
                        <button type="button" class="status width100 btn btn-danger">停用</button>
                        {{/if}}
                    </td>
                    <td>{{$member['creationDatetime']}}</td>
                    <td>{{$member['changeDatetime']}}</td>
                    {{if isset($memUse) && $memUse}}
                    <td>
                        <button type="button" class="btn btn-info width100 orderListBtn">開啟訂單記錄</button>
                    </td>
                    {{/if}}
                </tr>
                <tr class="hidden memberOrders info">
                    <td></td>
                    <td class="showOrder" colspan="8"></td>
                </tr>
                {{/foreach}}
            </tbody>



        </table>
    </main><!-- /.container -->

</body>

</html>