<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/GameConsole/views/img/logo.png">

    <title>GAME休閒館</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="/GameConsole/views/css/starter-template.css" rel="stylesheet">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }

    .oneCommodity {
        height: 250px;
        margin-bottom: 20px;
    }

    .showImg {
        padding: 0;
        margin: 0;
        height: 150px;
    }

    .vcenter {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
</style>
<script src="/GameConsole/views/js/jsonFormat.js"></script>
<script src="/GameConsole/views/js/title.js"></script>
<script src="/GameConsole/views/js/viewModels/commodityViewModel.js"></script>
<script>
    let lastID = '{{if isset($lastID)}}{{$lastID}}{{/if}}';
    lastID = parseInt(lastID);
    let getItemProcessing = false;
    let seletStr = '';
    let stopID = -1;
    let condition = 'newToOld';

    $(window).ready(() => {
        //回最頂按鈕
        $(".topImgBtn").click(() => {
            $("html,body").animate({
                scrollTop: 0
            }, 1000);
        });

        //滾動監聽器
        $(window).scroll(function (e) {
            let windowBottom = $(this).height() + $(this).scrollTop();
            console.log('window bottom' + windowBottom);
            console.log('body ' + $('body').height());

            if (isNaN(lastID) || lastID <= 0) {
                $(this).off('scroll');
                return;
            }

            if ((windowBottom >= ($('body').height() * 0.7)) && !getItemProcessing) {
                getData(true);
            }

        }).trigger('scroll');

        //搜尋按鈕
        $('#seletBtn').click(() => {
            seletStr = $('#seletText').val();
            lastID = 4294967295;

            if (seletStr.length <= 0) {
                $('.conditionBtn').parent().find('.btn-primary').removeClass('btn-primary').addClass('btn-light');
                $('#newToOld').removeClass('btn-light').addClass('btn-primary');
                $('#dataShow').empty();
                stopID = -1;
                $(window).trigger('scroll');
                return;
            }

            getData();
        });

        //條件按鈕
        $('.conditionBtn').click(function () {
            $('.conditionBtn').parent().find('.btn-primary').removeClass('btn-primary').addClass('btn-light');
            $(this).removeClass('btn-light').addClass('btn-primary');
            condition = this.id;
        });

    });

    function getData(isScroll = false) {

        if (!isScroll) {
            $('#dataShow').empty();
        }

        //當沒搜尋條件時
        if (seletStr.length <= 0 && lastID > 1) {
            getItemProcessing = true;
            $.ajax({
                type: 'GET',
                url: `/GameConsole/commodity/getSomeCanBuyDate`,
                data: { 0: JSON.stringify(lastID) }
            }).then(function (e) {
                getItemProcessing = false;
                e = organizeFormat(e);
                let json = JSON.parse(e);
                if (json.success === true) {
                    for (let item of json.result) {
                        $('#dataShow').append(getCommodityItemView(
                            item.id,
                            item.name,
                            item.price
                        ));
                        lastID = parseInt(item.id);
                    }
                    $(window).trigger('scroll');
                } else {
                    alert(json.errMessage);
                }
            });
        }

        //當有搜尋條件時
        if (seletStr.length > 0 && lastID > stopID) {
            getItemProcessing = true;
            let data = {
                'names': seletStr,
                'lastID': lastID
            };

            $.ajax({
                type: 'GET',
                url: `/GameConsole/commodity/getSomeByName`,
                data: { 0: JSON.stringify(data) }
            }).then(function (e) {
                getItemProcessing = false;
                e = organizeFormat(e);
                let json = JSON.parse(e);
                console.log(json);
                if (json.success === false) {
                    alert(json.errMessage);
                    return;
                }

                stopID = parseInt(json.result.stopID);
                for (let item of json.result.data) {
                    $('#dataShow').append(getCommodityItemView(
                        item.id,
                        item.name,
                        item.price
                    ));
                    lastID = parseInt(item.id);
                }
                $(window).trigger('scroll');
            });
        }

    }

</script>

<body>
    {{include file='./navigationBar.html'}}
    <div class="blank"></div>

    <main class="container">
        <img class="topImgBtn" src="/GameConsole/views/img/top.png" alt="">

        <div class="row">
            <div class="col-xs-9">
                <button class="conditionBtn btn btn-primary" id="newToOld">上市日期：新到舊</button>
                <button class="conditionBtn btn btn-light" id="oldToNew">上市日期：舊到新</button>
                <button class="conditionBtn btn btn-light" id="cheapToExpensive">價格：低到高</button>
                <button class="conditionBtn btn btn-light" id="expensiveToCheap">價格：高到低</button>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="seletText" placeholder="請輸入關鍵字">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="seletBtn" type="button">找商品</button>
                    </span>
                </div>
            </div>
        </div>

        <hr>

        <div class="row" id="dataShow">
            {{foreach $commoditys as $commodity}}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 bg-light text-dark">
                <div class="oneCommodity text-center">
                    <a href="/GameConsole/commodity/getOneView?id={{$commodity['id']}}">
                        <div class="showImg">
                            <img class="center-block vcenter"
                                src="/GameConsole/commodity/getOneImg?ID={{$commodity['id']}}"
                                onerror="javascript:this.src='/GameConsole/views/img/gravatar.jpg'">
                        </div>
                        <h3>價格：{{$commodity['price']}}</h3>
                        <h4>{{$commodity['name']}}</h4>
                    </a>
                </div>
            </div>
            {{/foreach}}
        </div>

    </main><!-- /.container -->

</body>

</html>