<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/GameConsole/views/img/logo.png">

    <title>GAME休閒館</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="/GameConsole/views/css/starter-template.css" rel="stylesheet">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    img {
        max-width: 100%;
        max-height: 150px;
    }

    .width100Percentage {
        width: 100%;
    }

    .oneItem {
        margin-bottom: 10px;
    }

    .itemText {
        font-size: 20px;
    }
</style>
<script src="/GameConsole/views/js/jsonFormat.js"></script>
<script src="/GameConsole/views/js/title.js"></script>
<script src="/GameConsole/views/js/viewModels/commodityViewModel.js"></script>
<script>
    let lastID = '{{$lastID}}';
    let cartSize = '{{$cartSize}}';
    lastID = parseInt(lastID);
    cartSize = parseInt(cartSize);
    let getItemProcessing = false;

    $(window).ready(() => {
        //回最頂按鈕
        $(".topImgBtn").click(() => {
            $("html,body").animate({
                scrollTop: 0
            }, 1000);
        });

        updateTotal();
        setButtonListener();

        //滾動監聽器
        $(window).scroll(function (e) {
            let windowBottom = $(this).height() + $(this).scrollTop();
            console.log('window bottom' + windowBottom);
            console.log('body ' + $('body').height());
            if ((windowBottom >= ($('body').height() * 0.7)) && !getItemProcessing && (cartSize > (lastID + 1))) {
                getItemProcessing = true;
                $.ajax({
                    type: 'GET',
                    url: `/GameConsole/commodity/getSomeShppingCartItem?id=${lastID}`
                }).then(function (e) {
                    getItemProcessing = false;
                    e = organizeFormat(e);
                    let json = JSON.parse(e);
                    if (json.success === true) {
                        for (let item of json.result.data) {
                            $('.showData').append(getShoppingCartItemView(
                                item.id,
                                item.name,
                                item.price,
                                item.maxQuantity,
                                item.quantity
                            ));

                        }
                        lastID = json.result.lastID;
                        cartSize = json.result.cartSize;

                        setButtonListener();
                        return;
                    }

                    alert(json.errMessage);

                });
            }
        }).trigger('scroll');


        //結帳按鈕
        $('#checkoutBtn').click(() => {
            if (!confirm('確定剁手手？')) {
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/GameConsole/order/insert'
            }).then(function (e) {
                e = organizeFormat(e);
                let json = JSON.parse(e);

                if (json.success === false) {
                    alert(json.errMessage);
                    history.go(0);
                    return
                }
                if (json.result === true) {
                    window.location.href = "/GameConsole/order/getMemOrderListView";
                }
            });
        });

    });

    function setButtonListener() {
        //購買數量欄位
        $('.quantity').off('change').change(function () {
            if ((errMessage = getCheckQuantityMessage(this.value, this.id)).length > 0) {
                alert(errMessage);
                return;
            }

            let id = this.id.substring(8, this.id.length)
            let data = {
                'id': id,
                'quantity': this.value
            };

            $.ajax({
                type: "PUT",
                url: "/GameConsole/commodity/updateInShoppingCart",
                data: { 0: JSON.stringify(data) }
            }).then(function (e) {
                e = organizeFormat(e);
                let json = JSON.parse(e);

                if (json.success === false) {
                    alert(json.errMessage);
                    return;
                }
                if (json.result === true) {

                    updateTotal();
                }
            });
        });

        //刪除按鈕
        $('.deleteBtn').off('click').click(function () {

            let id = this.id.substring(9, this.id.length);
            let data = { 'id': id };

            $.ajax({
                type: 'DELETE',
                url: '/GameConsole/commodity/deleteInShoppingCart',
                data: { 0: JSON.stringify(data) }
            }).then(function (e) {
                e = organizeFormat(e);
                let json = JSON.parse(e);

                if (json.success === false) {
                    alert(json.errMessage);
                    return
                }
                if (json.result === true) {
                    $(`#oneItem${id}`).remove();
                }
            });
        });

    }

    //取得總金額
    function updateTotal() {
        $.ajax({
            type: 'GET',
            url: '/GameConsole/commodity/getShoppingCartTotal'
        }).then(function (e) {
            e = organizeFormat(e);
            let json = JSON.parse(e);
            if (json.success === true) {
                $('#total').text(`總金額： ${json.result}`);
            }
        });
    }

    //確認確認修改數量格式
    function getCheckQuantityMessage(value, id) {
        let input = $(`#${id}`);
        let returnStr = '購買數量少於1，請把大膽的想法收起來！';
        input.parent().removeClass('has-error');
        if (value < 1) {
            input.parent().addClass('has-error');
            return returnStr;
        }
        return "";
    }

</script>

<body>
    {{include file='./navigationBar.html'}}
    <div class="blank"></div>
    <main class="container">
        <img class="topImgBtn" src="/GameConsole/views/img/top.png" alt="">


        <div class="row oneItem width100Percentage">
            <div class="col-xs-3"></div>
            <div class="col-xs-2">
                <h3>商品名稱</h3>
            </div>
            <div class="col-xs-2">
                <h3>商品價格</h3>
            </div>
            <div class="col-xs-3">
                <h3>購買數量</h3>
            </div>
            <div class="col-xs-2"></div>
        </div>

        <div class="showData">
            {{foreach $shoppingCart as $item}}
            <div class="row oneItem width100Percentage" id="oneItem{{$item->id}}">
                <div class="col-xs-3">
                    <img src="/GameConsole/commodity/getOneImg?ID={{$item->id}}"
                        onerror="javascript:this.src='/GameConsole/views/img/gravatar.jpg'">
                </div>
                <div class="col-xs-2 itemText">{{$item->name}}</div>
                <div class="col-xs-2 itemText">{{$item->price}}</div>
                <div class="col-xs-3 ">
                    {{if $item->maxQuantity > 0}}
                    <input type="number" class="width100Percentage quantity form-control" id="quantity{{$item->id}}"
                        max="{{$item->maxQuantity}}" min="1" value="{{$item->quantity}}">
                    {{else}}
                    <h3>此商品已售完</h3>
                    {{/if}}
                </div>
                <div class="col-xs-2">
                    <button class="width100Percentage deleteBtn" id="deleteBtn{{$item->id}}">刪除</button>
                </div>
            </div>
            {{/foreach}}
        </div>

        <div class="row oneItem width100Percentage">
            <div class="col-xs-7"></div>
            <div class="col-xs-5 text-right">

            </div>
        </div>

        <div class="text-right">
            <h2 id="total"></h2>
            {{if isset($isLogin)&&$isLogin}}
            <button class="btn btn-info " type="button" data-toggle="modal" data-target="#creatEmployeeModal"
                id="checkoutBtn">結帳</button>
            {{else}}
            <h2>如需購買請先登入</h2>
            {{/if}}
        </div>

        <!-- 此為墊高畫面用 -->
        <div style="height: 50px;"></div>

    </main><!-- /.container -->

</body>

</html>